{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello, {{ name }}</title>
        <link rel="stylesheet" href="{% static 'ROMAN_APP/styles.css' %}">
        <link rel="stylesheet" href="{% static 'project1_1/main.css' %}">
    </head>
    <body>
        <div className="page">
            <header>
                <a href="{% url 'main:main' %}" class="logo-a"><img src="{% static 'project1_1/RomanProjects.svg' %}" alt="logo" class="logo"></a>
                <a href="{% url 'main:main' %}" class="return-back">
                    Вернуться на главную
                </a>
            </header>
            <h1>Hello, {{ name }}!</h1>
        </div>
    </body>
</html>